.middle{
    flex-direction : column;
    display:flex;
    
   
}

.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: contain;
      top: 0;
      left: 0;
      min-height: 500px;
  }

  .carousel-control-next,
.carousel-control-prev  {
    filter: invert(100%);
}

.carousel .carousel-indicators li {background-color: grey;}
.carousel .carousel-indicators li.active {background-color: black;}