.price-box{
    border-radius: 10px;
    
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 20px;
    padding: 10px;

}
.dotted-line{
    border:1px dashed;
    
}
.spinner{
    margin: 0 auto;
    margin-top:50vh;
}